.czur-wrapper {
  height: 100%;
}
.layout-sidebar__left {
  color: rgb(45, 52, 71);
  line-height: 2;
  padding: 10px;
}
.layui-form-label {
  width: 135px;
}
.layui-input-block {
  margin-left: 135px;
}